#chef-bg, #chefs {
  background-color: #deb887;
  background: url(../img/bg.jpg) center center no-repeat;

}
#chef-bg p{
  color: #ffe75c;
}
#testimonials p{
  color: #00192f;
}
#menu p{
  color: #00192f;
}
.menu-comment{
  font-size: 12px;
  margin-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
.about p{
  color: #00192f;
}
.footer-newsletter p{
  color: #00192f;
}
.log-out-btn{
  font-size: 13px !important;
  color: #fff;
}
.log-out-btn:hover{
    color: #b52217;
}
.btn2{
  width: auto;
    min-width: 100px !important;
    border-radius: 24px !important;
    text-align: center ;
    padding: 15px 40px !important;
    margin-top: 5px ;
    background-color: #caa476 !important;
    color: #fff !important;
    font-size: 14px !important;
    margin-left: auto !important;
    font-weight: 500 !important;
    box-shadow: 0px 2px 6px -1px rgb(0 0 0 / 13%) !important;
    border: none !important;
    transition: all 0.3s ease !important;
    outline: 0 !important;
  
}
.user-name4{
  color: #B52217;
}

.bi-chevron-down{
  color: #B52217;
  position:fixed; 
  left:60px;
  top:-30px; 
}
.btn.btn-info-menu{
  display: inline-block;
    font-weight: 1000;
    line-height: 0.8;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    background: #caa476;
    border: 2px solid black;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn.btn-info-menu:hover{
  background:rgb(219, 174, 72);
}
img, svg {
  vertical-align: middle;
}
#cart-list:hover{
  color: #b52217;
}

.row-menu{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.icon1 {
  font-size:24px; 
  margin-bottom: 19px; 
  margin-left: 5px;
  margin-right: -10px;
  color: #fff;
}

.edit1 {
  margin-bottom: 15px;
  margin-right: 10px;
}

::marker {
  color: #00000000;
}