/* CUSTOM CSS */

/* BODY COLOR */
.main-header, .main-wrapper {
    background-color: #b5221785;
}

.sidebar , .sidebar-body, .sidebar-header {
    background-color: #ddb380;   
   
}

.main-header, .mobile-logo {
    background-color: #caa476;
}

/* HEADER */
.menu-icon span {
    width: 4px;
    height: 4px;
    display: block;
    background-color: #00192f;
}

.user-name {
    font-size: 13px;
}

/* HEADER SEARCH ICON */
.search-form .theme-input-group.header-search.theme-input-group input {
    background-color: #FFFFFF;
    height: 50px;
    padding: 5px 15px;
}

/* HEADER NOTIFICATION DROPDOWN */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #eed3b1;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

/* SIDEBAR ICON */
.c2, a:hover, .icofont-tack-pin, .dropdown-menu .dropdown-body a:hover .main-text, .dropdown-menu.style--two .dropdown-body a:hover .time, .dropdown-menu.style--two .dropdown-body a:hover .main-text, .btn.preview, #example-vertical > .actions ul li a.preview[href="#next"], #example-vertical > .actions ul li a.preview[href="#finish"], .btn.style--two, #example-vertical > .actions ul li a.style--two[href="#next"], #example-vertical > .actions ul li a.style--two[href="#finish"], .btn.s_alert, #example-vertical > .actions ul li a.s_alert[href="#next"], #example-vertical > .actions ul li a.s_alert[href="#finish"], .details-btn, .light-btn, table.table-condensed thead tr:nth-child(2) th, table.table-contextual .details-btn:hover, table.table-contextual .details-btn:hover i, .sidebar .sidebar-body li.active > a, .sidebar .sidebar-body li:hover > a, .fc-view > table thead th.fc-day-header, .notifications a:hover p, .news a:hover p, .icon:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice, .p_nav-link, .about-nav-tab a.active, .iconwrap, .dragable-list > div.ui-sortable-helper i {
    color: #B52217;
}

.sidebar .sidebar-body li.active i, .sidebar .sidebar-body li:hover i {
    color: #B52217;
}

.sidebar .sidebar-body li i {
    position: absolute;
    left: 0;
    top: 7px;
    font-size: 18px;
    color: #00192f;
}

.c1-bg, ::selection, .btn, #example-vertical > .actions ul li a[href="#next"], #example-vertical > .actions ul li a[href="#finish"], .light-btn.c2-bg:hover, .theme-input-group input, .theme-input-group button.btn.style--three, .theme-input-group > a.btn.style--three, .theme-input-group.input-wrap > a, .aside-body li a:after, .chat_aside .aside-header, .chat-footer div .submit {
    background-color: #dbae4b;
}

/* CONTEXT */
.list-button li:hover, .list-button li.active {
    background-color: #B52217;
}

/* DASHBOARD BODY */
.bg-white {
    background-color: #d4b590!important;
}

table tr:not(:last-child) td {
    border-bottom: 1px solid #B52217;
}

/* LOGIN BODY */
.WIA {
    height: 80px;
    width: 80px;
    margin-left: 63%;
    margin-bottom: -40px;
}

.WIA2 {
    height: 80px;
    width: 80px;
    margin-left: 70%;
    margin-bottom: -40px;
}

#bgimage ::after {

    content: '';   
    position: absolute;   
    left: 50%;   
    top: 0;   
    width: 130%;   
    height: 95%;   
    background-image: url("/assets/img/restaurantbg.jpg") center top no-repeat;   
    z-index: 0;   
    border-radius: 0 0 50% 50%;   
    transform: translateX(-50%) rotate(0deg);
}

.roles{
    color:#B52217;
}

.button1 {
    padding: 10px 20px !important;
    margin-top: 10px !important;
    font-weight: 700;
    line-height: 1;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    color: #ffffff;
    border: none;
    text-transform: capitalize;
    outline: 0 !important;
    -webkit-box-shadow: 0 5px 10px rgba(4, 0, 252, 0.2) !important;
    box-shadow: 0 5px 10px rgba(4, 0, 252, 0.2) !important;
}